@media screen and (min-width: 1024px) {
  html.restrict-scroll,
  body.restrict-scroll {
    overflow: hidden;
    height: 100%;
  }
}

@media screen and (min-width: 1600px) {
  html.restrict-scroll,
  body.restrict-scroll {
    overflow-y: auto;
  }
}